/* *{
    outline: 1px solid red;
} */

.nav{
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

    .nav-title{
        color: white;
        margin-left: 15px;
        font-family: cursive;
    }

    .nav-links{
        color: black;
        display: flex;
        align-items: center;
    }

        li{
            margin-left: 20px;
        }

            a{
                text-decoration: none;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
            }

            .btn{
                height: 25px;
                width: 100px;
                background-color:cadetblue;
                margin-left: 15px;
                margin-right: 25px;
                font-family: Arial, Helvetica, sans-serif;
            }

