

/* Sets all font size to 25pt to start in order to make it legible
It also clears browser formatting */
*{
    font-size: 25pt;
    margin: 0px;
    padding: 0px;
}

/* Unneccessary Calculator name formatting */
h1 {
    color: white;
    font-size: 18pt;
    text-align: center;
}

#calculator{
    width: 370px;
    /* set to 15px top&bottom to give it some breathing room */
    margin: 15px auto;
    background-color: grey;
    color: white;
    justify-content: space-around;
    padding: 15px;
    border: 2px solid black;
    border-radius: 45px;
}

#display {
    min-height: 10%;
    text-align: end;
    font-size: 32pt;
    padding: 15px;
}

.row {
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
}

/* changes the /,*,-,+ buttons to orange */
.operator {
    background-color: #ff8c00;
}

button {
    background-color: #666666;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

#equals {
    width: 100%;
    border-radius: 45px;
    background-color: #cccccc;
}