h1{
    color: aqua;
    background-color: black;
    font-family: cursive;
    
}
h2{
    color: white;
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}
h3{
    color: black;
    background-color: cornflowerblue;
    text-align: right;
    text-decoration: underline;
    font-family: sans-serif;
}
span{
    color: white;
}